#menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 10px;
}
#menu-container div{
    width: 25%;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.2);
    align-items: center;
    padding: 5px;
}
img{
    width: 100%;
}
h1{
    text-align: center;
}
